@import url('https://fonts.googleapis.com/css?family=Leckerli+One');
@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display:900');


body {
	font-size: 20px;
	font-family: 'Roboto', sans-serif;
	width: 80%;
	padding: 1em 0 0 0;
	margin: 0 auto;
	line-height: 1.5em;
	box-sizing: border-box;
	background: url("../images/backgroundimg2.jpg");
	background-size: contain;
	background-attachment: fixed;
	color: #133A4F;
}

nav a {
	display: block;
	text-align: center;
	padding: .5em;
	font-size: 1.1em;
	text-transform: uppercase;
	text-decoration: none;
	border-bottom: 2px #5e90ac;
	letter-spacing: .1em;
	color: #1c5473;
}

a {
	text-decoration: none;
	font-weight: 700;
	letter-spacing: .09em;
	color: #113447;
/*	color: #fff;*/
}

header {
	text-align: center;
	background-color: #26729b;
	padding: 1em;
}

aside {
	flex-shrink:0;
	width: 280px;
	float: left;
/*	width: 30%;*/
	margin: 0 auto;
	background-color: #fff;
	padding: .5em 0;
	text-align: center;
}

aside p {
	font-size: .6em;
}

main {
	float: left;
	width: 70%;
	margin: 0 auto;
	background-color: #7ec2eb;
	padding: 1em 2em;
}

main img {
	max-width: 90%;
	display: block;
	margin: 0 auto;
}

footer {
	clear: both;
	background-color: #26729b;
	margin: 0 auto;
	padding: .5em;
	text-align: center;
	box-sizing: border-box;
	color: #fff;
	font-size: .8em;
}

aside img {
	padding: 0 0 1em 0;
	display: block;
	margin: 0 auto;
}

p {
/*	padding: 1em 2em;*/
	padding: 1em 0;

}

h1 {
	font-size: 3.3em;
	font-family: 'Playfair Display', serif;
	font-weight: 900;
	color: #fff;
	line-height: 1.5em;
}

h2 /*slogan*/ {
	font-size: .8em;
	color: #fff;
	padding: 1em 0;
}

h3 {
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
	font-size: 1.7em;
	text-align: center;
	padding: 1em .5em;
	text-transform: uppercase;
	letter-spacing: .03em;
	background-color: #5A8AA5;
	line-height: 1.5em;
	width: 100%;
	margin: 0 auto;
}

h4 {
	text-transform: lowercase;
	font-size: 1.2em;
	font-weight: 700;
	margin: 0 0 0 3em;
}

hr {
	width: 3em;
	color: #fff;
	margin: 1em auto;
}

ul {
	list-style-type: disc;
	list-style-position: outside;
	margin: 0 .5em 0 1.5em;
	padding: 0 1.5em;
}

#page {
	display: flex;
	max-width: 1200px;
	margin: 0 auto;
}

#main {
	flex-grow: 1;

}

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size:0;
	content:" ";
	clear: both;
	height:0;
}

@media all and (max-width: 800px) {

	#page {
		flex-flow: column;
	}

	aside {
		width: auto;
		float: none;
	}

	main {
		width: auto;
		float: none;
	}

	footer {
		width: auto;
	}

}