@import url(https://fonts.googleapis.com/css?family=Rammetto+One);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600,800);

* {
	padding: 0
	margin: 0;
	/*box-sizing: content-box;*/
}

body {
	font-family: 'Open Sans', sans-serif;
	font-size: 20px;
	font-weight: 400;
	color: #fff;
	line-height: 1.3em;
	text-align: center;
	background: url("../images/offwhitebrickbackground.jpg");
	background-size: cover; 
	background-attachment: fixed;
	padding: .5em 0 0 0;
	margin: auto;
	letter-spacing: .03em;
/*	position: relative;*/
}

nav {
	background-color: #4c0f0f;
	line-height: 1.5em;
}

nav a {
	background-color: #4c0f0f;
	font-family: Open Sans, sans-serif;
	color: #fff;
	padding: 45px;
	font-size: .8em;
	text-transform: lowercase;
	font-weight: 600;
	text-decoration: none;
	border-bottom: none;
	letter-spacing: .2em; /*check this*/
	display: block;
	float: left;
	width: 5em;
	margin: 0px;
	box-sizing: content-box;
}

a {
	color: #ffffff;
	font-weight: 800;
	text-decoration: none;
	border-bottom: .05em solid #cb6565;
	padding-bottom: .05em;
}

header {
	background-color: rgba(203,101,101,.4);
	padding: 0 0 .5em 0;
	line-height: 1.3em;
	display: inline-block;
	float: left;
	width: 100%;
}

#logo {
	background-color: #4c0f0f;
	padding: .5em;
	display: block;
	float: left;
	width: 5em;
	margin: 0px;
}

main {
	background-color: rgba(76,15,15,.65);
	padding-top: .5em;
	padding-bottom: .5em;
	line-height: 1.5em;
}

section {

}

footer {
	background-color: #4C0f0f;
	padding-top: .5em;
	padding-right: 0;
	padding-left: 0;
	padding-bottom: 0;
	height: 2.5em;
	font-size: .7em;
	margin: 0 /*auto*/;
	clear: both;
}

h1 {
	color: #4C0f0f;
	text-align: center;
	font-size: 3em;
	font-weight: 700;
	text-transform: uppercase;
	font-family: Rammetto One, Cursive;
	padding-top: 1em;
	line-height: 1.5em;
	word-spacing: 1em;
	margin: 0 auto;
}

h2 {
	font-size: 1.5em;
	font-family: Open Sans, san-serif;
	padding: .25em;
	font-weight: 800;
	color: #fff;
	line-height: 1.5
}

h3 {
	font-weight: 800;
	font-size: 1em;
	text-transform: uppercase;
	color: #fff;
	word-spacing: .1em;
	line-height: 1.5em;
/*	text-shadow: 1px 0px 2px #fff;*/
}

#main3 h3 {
	padding-bottom: .5em;
}

hr {
	width: 5em;
	height: 3px;
	border: none;
	background-color: #fff;
	padding: 0;
	margin: .75em auto /*.75em auto*/;
}

p {
	font-size: 1em;
	line-height: 1.5em;
	padding: 0;
	margin: auto;
	width: 95%;
}

ul {
	display: inline-block;
	list-style-position: inside;
	font-size: 1em;
	margin: 0 auto;
	padding-bottom: 1em;
}

article {
	display: block;
	float: left;
/*	width: 28.5%;*/
	margin: 1em auto;
	box-sizing: content-box;
}


.clearfix:after {
	visibility: hidden;
	display: block;
	font-size:0;
	content:" ";
	clear: both;
	height:0;
}

#main1 {
	width: 27%;
	height: 100%;
	background-image: url("../images/smallrockbubba.png");
	background-repeat: no-repeat;
	background-position: center;
	display: block;
	padding: 7em 2em;
	background-clip: border-box;
}

#main2 {
	width: 27%;
	height: 100%;
	display: block;
	background-image: url("../images/smallpaperbelle.png");
	background-repeat: no-repeat;
	background-position: center;
	padding: 7em 2em;
}

#main3 {
	width: 27%;
	background: url("../images/smallscissorsbubba.png");
	background-repeat: no-repeat;
	background-position: center;
	display: block;
	padding: 7em 2em;
}

.three_column {
	vertical-align: top;
}

#email {
	display: block;
	float: left;
	width: 33.3333%;
	margin: 0;
}

#copyright {
	display: block;
	float: right;
	width: 16.6666%;
	margin: 0;
}

.wrapper {
	width: 90%;
	margin-left: auto;
	margin-right: auto;
}
.three_column {
	margin: auto;
	padding: 0 2em;
}

@media only screen and (min-wdith: 1800px) {
	body {
		font-size: 24px;
	}

	.wrapper {
		width: 1620px;
	}
}

@media only screen and (max-width: 1410px ) {
	article {
		float: none;
		margin: 1em auto;
	}

	#main1, #main2, #main3 {
/*		padding: 7em 2em;*/
	}

	.wrapper {
		width: 80%;
		margin: 0 auto;
	}

} 

@media only screen and (max-width: 1086px) {
	p {
		font-size: 18px;
	}

	#email, #copyright{
		float: none;
		text-align: center;
		width: 100%;
	}

	#main1, #main2, #main3 {
		width: 40%;
	}

	footer {
		height: 5em;
	}
	.wrapper {
		width: 80%;
		margin: 0 auto;
	}
}

@media only screen and (max-width: 860px) {
	nav a {
		float: none;
		display: inline-block;
		text-align: center;
	}

	#logo {
		float: none;
		width: auto;
		margin: 0 auto;	
	}

	#email, #copyright {
		padding: .5em;
	}

	footer {
		height: 7em;
	}

	/*body {
		font-size: 16px;
	}*/

	#main1, #main2, #main3{
		width: 45%;
		padding: 9em 5em;
	}

	.wrapper {
		width: 80%;
		padding: 1em;
	}
}

@media only screen and (max-width: 500px) {
	#main1, #main2, #main3{
		width: 60%;
		padding: 7em 3em;
	}
	.wrapper {
		width: auto;
		margin: 0 auto;
	}
}

@media only screen and (max-width: 375px) {
	h1 {
		font-size: 2em;
	}

	#main1, #main2, #main3{
		width: 70%;
		padding: 7em 1em;
	}
	.wrapper {
		width: auto;
		margin: 0 auto;
	}

}





