@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700');
@import url('https://fonts.googleapis.com/css?family=Pacifico');
@import url('https://fonts.googleapis.com/css?family=Arvo:700');
@import url('https://fonts.googleapis.com/css?family=Suez+One');

body {
	font-size: 20px;
	font-family: 'Open Sans', sans-serif;
	line-height: 1.5em;
	background: url("../images/sandbackground.jpg");
	background-size: contain;
	background-attachment: fixed;
	width: 80%;
	margin: 1em auto 0 auto;
	overflow: auto;
}

header {
	width: 100%;
	background-color: /*#F1EFEC*/;
	margin: 2em auto 0 auto;
/*	border-top-right-radius: 50px;
	border-top-left-radius: 50px;*/
	display: flex;
}

header h1 {
	font-size: 4em;
	font-family: "Arvo", serif;
	text-align: center;
	color: #3C4B84;
	margin: 0 auto;
	padding: .5em;
	line-height: 1.5em;
	letter-spacing: .15em;
	flex: 1 1 auto;
}

span {
	background-color: rgba(183,224,228,.6);
}

nav {
	border-top-right-radius: 50px;
	border-bottom-right-radius: 50px;
	width: 30%;
	display: flex;
	float: left;
	background-color: #F1EFEC;
	margin: 0 auto;
	flex-direction: column;
	align-items: center;
	padding: 4em 0 0 0;
}

nav a {
	font-size: 1em;
	text-transform: uppercase;
	font-weight: 700;
	color: #3C4B84;
	text-decoration: none;
	padding: 1em .5em;
	margin: 0 auto;
	flex: 1 1 auto;
}	


main {
	width: 85%;
	margin: 0 auto;
	display: flex;
/*	float: left;*/
}

article {
	float: left;

}

article img {
	border-top-left-radius: 50px;
	border-bottom-left-radius: 50px;
	width: 100%;
	height: auto;
	padding: 0 auto;
	margin: 0 auto;
	display: flex;
}

footer {
	width: 100%;
	margin: -1em auto 1em auto;
	padding: 2em 0 1em 0;
	background-color:/* #F1EFEC*/;
	border-bottom-left-radius: 50px;
	border-bottom-right-radius: 50px;
	clear: both;
}

footer p {
	text-align: center;
	padding: 0;
	margin: 0 auto;
	color: #000;
	font-size: .5em;
}

/*#wrapper {
	overflow: auto;
}*/

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size:0;
	content:" ";
	clear: both;
	height:0;
}


@media only screen and (max-width: 900px) {
	header h1 {
		font-size: 2em;
	}

	nav {
		display: flex;
		flex-direction: row;
		width: 100%;
		margin: 0 auto;
		padding: 0 0 .5em 0;
		border-top-right-radius: 0px;
		border-bottom-right-radius: 50px;
		border-bottom-left-radius: 50px;
	}

	nav a {
		font-size: 1em;
		text-transform: uppercase;
		font-weight: 700;
		color: #3C4B84;
		text-decoration: none;
		padding: 1em .5em;
		margin: 0 auto;
		flex: 1 1 auto;
		text-align: center;
	}

	article img {
		border-top-left-radius: 50px;
		border-bottom-left-radius: 0px;
		border-top-right-radius: 50px;
	}

	main {
		display: block;
		flex: none;
		float: none;
	}

@media only screen and (max-width: 500px) {
	header h1 {
		font-size: 1.5em;
		padding: 1em .5em .5em .5em;
	}

	nav {
		display: inline-flex;
		flex-direction: column;
		width: 100%;
		margin: 0 auto;
		padding: 0 0 .5em 0;
		border-top-right-radius: 0px;
		border-bottom-right-radius: 50px;
		border-bottom-left-radius: 50px;
	}

	article img {
		border-top-left-radius: 50px;
		border-bottom-left-radius: 0px;
		border-top-right-radius: 50px;
	}

	nav a {
		font-size: .75em;
		flex: 1 1 auto;
	}

	footer {
		padding: .5em 0;
	}

	footer p {
		font-size: .4em;
	}
}



